<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>

    <!-- make the input bigger-->
    <style>
        input[type=text] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
        }
    </style>
    
    <form id="formText" enctype="text/plain" onsubmit="return false;">
        <input type="text" id="textInput" name="textInput" value="">

        <button id="uploadText">Upload</button>
    </form>

    <p id="response"></p>
</body>

</html>

<script>
    document.getElementById("uploadText").addEventListener("click", function() {
        const formData = document.getElementById("formText");

        var xhr = new XMLHttpRequest();
        
        xhr.open("POST", "uploadText", true);

        xhr.onload = function() {
            if (this.status == 200) {
                console.log("works");
                document.getElementById("response").innerHTML = this.responseText;
            } else{
                console.log(" does not work");

            }
        };
        console.log("Sending");
        xhr.send(formData);
    });

</script>